/*  main code */
body{
    overflow: auto;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
  }
  
    .aside{
        width: 100%;
        height: 100%;
        max-height: 100px;
        background: #ffffff;
        position: fixed;
        box-shadow: 15px 15px 15px -5px rgba($color: #000000, $alpha: 0.2) ;
   
      }
    button{
        display: none;
    }
    
    .navbar ul li{
        display: inline-block;
        text-align: left;
        padding:  35px 30px;
        vertical-align: middle;
        position: relative;
    }
    .navbar ul li a{
        color: #bd97cb;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 23px;
        text-decoration: none;
    }
    .navbar ul li ul{
        background: #bd97cd;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        border-radius: 5%;
    }
  ul li ul.dropdown li{
      display: block;
      border-radius: 5%;
  }
    .navbar ul li a:hover, .navbar ul li a:focus {
        border-bottom: 2px solid #bd97cd;
      }
    .title a{
        position: absolute;
        /* always keep ham on top of everything */
        top: 25px;
        right: 20px;
        border: none;
        cursor: pointer;
        background-size: 100%;
        vertical-align: middle;
        color:#bd97cd;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        }


        .main-content{
            width: 100%;
            margin:0 auto;
            height: 3000px;
            background-color: white;
            #home{
                text-align: center;
                display: inline;
                .hero{
                    width: 100%;
                    .hero__title{
                      font-size: 80px;
                      font-family: 'Poppins', sans-serif;
                      color: black;
                      padding-top: 150px;
                      text-align: center;
                    }
                }
            }
        
        }

        .footer{
          width: 100%;
          max-height: 60px;
          background-color: #ffffff;
          box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .1);
          .aside-footer{
            .navbar-footer {
              ul{
                display: flex;
                flex-direction:row;
                list-style: none;     
                justify-content: center;
                li{
                  padding: 30px;
                  a{
                    color:#bd97cb ;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 23px;
                    text-decoration: none;        
              }
            }

              }
            } 
            }
            .social-icons{      
              & .social-icons__list{
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: center;
              li{
                padding: 15px 25px 15px 25px;
                a{
                  display: inline-block;
                  svg{
                    width: 30px;
                    fill:#bd97cb; 
                  }
                }
                
              }
                
  
                  
                }
                p{
                  text-align: left;
                  color: #bd97cb;
                  font-size: 25px;
                  font-family: 'Poppins', sans-serif;
                }
            } 
          }
/* media */

@media screen and (max-width:650px){
  .navbar-footer ul{
    li{
      padding: 15px;
      a{
        color:#bd97cb ;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-decoration: none;
        svg{
          display: block;
          width: 25px;
          fill:#bd97cb; 

          
        }
      }
    } 
    }
}

@media screen and (max-width:904px){
    .aside{
    width: 100%;
    height: 100%;
    background-color: #bd97cb;
    }

    button{
        display: initial;
        cursor: pointer;
    }
    .ham {
      position: absolute;
      /* always keep ham on top of everything */
      z-index: 1000;
      top: 30px;
      right: 20px;
      width: 100%;
      max-width: 40px;
      height:100%;
      max-height: 40px;
      border: none;
      cursor: pointer;
      background-color: #bd97cb;
      background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
      background-size: 100%;
      border: 1px solid #bd97cb;
      border-radius: 5px;
    }

    .title a {
      position: absolute;
      /* always keep ham on top of everything */
      z-index: 1000;
      top: 30px;
      left: 20px;
      border: none;
      cursor: pointer;
      background-size: 100%;
      vertical-align: middle;
      color:#ffffff;
      font-family: 'Poppins', sans-serif;

    }
    .closeText{
      display: none;
    }
    /* change ham image to close */
    .showClose {
      background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
      svg{
        display: none;
      }
    }

    .navbar {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #bd97cb;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      color: white;
      /* hide the menu above the screen by default */
      transform: translateY(-100%);
      /* transition adds a little animation when sliding in and out the menu */
      transition: transform 0.2s ease;
    }
    
    
    .showNav {
      /* show the menu */
      transform: translateY(0);

    }

    
    /* basic nav styling below */
    
    .navbar ul {
      width: 100%;
      height: 100%;
      list-style: none;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    
    .navbar ul li a {
      color: white;
      padding-bottom: 10px;
      border-bottom: 2px solid #bd97cb;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2rem;
      padding-top: 100px;
    }
    
    .navbar ul li a:hover, .navbar ul li a:focus {
      border-bottom: 2px solid white;
    }
.title a{
  display: none;
}
      
.footer{
  width: 100%;
  max-height: 60px;
  background-color: #ffffff;
  box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .1);
  .aside-footer{
    .navbar-footer {
      ul{
        display: flex;
        flex-direction:row;
        list-style: none;             
      }
    }
  .navbar-footer ul{
    li{
      padding: 18px;
      a{
        color:#bd97cb ;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-decoration: none;
        svg{
          display: block;
          width: 30px;
          fill:#bd97cb;           
        }
      }
    } 
    }

  }





}
/* media */

/* a few @media */
@media screen and (max-width:1200px){
    .title a{
        position: absolute;
        top: 27px;
        right: 20px;
        color:#bd97cd;
        font-size: 28px;
    }
}
@media screen and (max-width:1100px){
    .title a{
        position: absolute;
        top: 30px;
        right: 20px;
        color:#bd97cd;
        font-size: 24px;
    }
}

}
@media screen and (max-width:430px){
  .navbar-footer ul{
    li{
      padding: 5px;
      a{
        color:#bd97cb ;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-decoration: none;
        svg{
          display: block;
          width: 30px;
          fill:#bd97cb; 

          
        }
      }
    } 
    }

}
@media screen and (max-width:320px){
  .main-content{

    #home{

        .hero{
            width: 100%;
            .hero__title{
              font-size: 33px;
              padding: 100px;
            }
        }
    }

}



    .ham{
        position: absolute;
        /* always keep ham on top of everything */
        z-index: 1000;
        top: 30px;
        right: 20px;
        width: 100%;
        max-width: 36px;
        height:100%;
        max-height: 36px;
        border: none;
        cursor: pointer;
        background-color: whitesmoke;
        background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
        background-size: 100%;
        border: 1px solid white;
        border-radius: 5px;
    }
    .title a {
      position: absolute;
      top: 30px;
      left: 20px;
      color:#bd97cd;
      font-size: 25px;
  }
  .navbar-footer ul{
    li{
      padding: 10px;
      a{
        color:#bd97cb ;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-decoration: none;
        svg{
          display: block;
          width: 30px;
          fill:#bd97cb; 

          
        }
      }
    } 
    }
}
